<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337577804464-vlnparb6us1398o2p21teajephmv5gek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337577804464-vlnparb6us1398o2p21teajephmv5gek</string>
	<key>API_KEY</key>
	<string>AIzaSyBIxemM5qnD1p6bRjqKJPtWoLeZBppTIlI</string>
	<key>GCM_SENDER_ID</key>
	<string>337577804464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paml20190140086Ewallet</string>
	<key>PROJECT_ID</key>
	<string>e-wallet-e9153</string>
	<key>STORAGE_BUCKET</key>
	<string>e-wallet-e9153.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337577804464:ios:8dc2b58d50f7beffadf175</string>
</dict>
</plist>